html {
  height: 100%;
  width: 100%;
}
<<<<<<< HEAD
body{
  color: var(--main-text);
  background: var(--main-bg);
}
.light-mode{
  --main-text: #000;
  --main-bg: #fff;
}
.dark-mode{
  --main-text: #fff;
  --main-bg: #202124;
}
=======

:root{
  --Color1: white;
  --Color2: black;
}

body {
  background-color: var(--Color1);
  color: var(--Color2);
}


>>>>>>> 0623_08
