html {
  height: 100%;
  width: 100%;
}
body{
  color: var(--main-text);
  background: var(--main-bg);
  font-family: serif;
  font-size:  2.0rem;
}
.light-mode{
  --main-text: #000;
  --main-bg: #fff;
}
.dark-mode{
  --main-text: #fff;
  --main-bg: #202124;
}